*{
 margin: 0;
 padding: 0;
}
.social-icon{

  text-align: center;
  margin-top: 20px;
}
.social-icon a{
    text-decoration: none;
    background-image: url(img/photoshop.png);
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    background-position: -113px -68px;
    text-indent: 99999px;
    transition: all 0.5s ease-out;
    margin-left: 10px;
}
.social-icon a:hover {
     background-position: -113px -168px;
     transition: all 0.5s ease-in-out;
}
.social-icon a.chorome{
     background-position: -231px -68px;
}
.social-icon a.chorome:hover{
    background-position: -231px -170px;
    transition: all 0.6s ease-in-out;
}

.social-icon a.massanger{
    background-position: -350px -68px;
}
.social-icon a.massanger:hover{
    background-position: -350px -168px;
    transition: all 0.6s ease-in-out;
}
.social-icon a.twiter{
    background-position: -476px -68px;
}
.social-icon a.twiter:hover{
     background-position: -484px -168px;
    transition: all 0.6s ease-in-out;
}
.social-icon a.facebook{
    background-position: -588px -68px;
}
.social-icon a.facebook:hover{
     background-position: -587px -171px;
    transition: all 0.6s ease-in-out;
}
.social-icon a.media{
    background-position: -700px -68px;
}
.social-icon a.media:hover{
     background-position: -700px -171px;
    transition: all 0.6s ease-in-out;
}
.social-icon a.instagram{
    background-position: -826px -68px;
}
.social-icon a.instagram:hover{
     background-position: -826px -171px;
    transition: all 0.6s ease-in-out;
}

.social-icon h2 {
  font-style: italic;
  font-size: 40px;
  /*! margin-left: 276px; */
  margin-top: 15px;
}
.ri-admin-line{
    font-size: 30px;
    padding: 0 5px;
}

.ri-home-2-line {
  font-size: 30px;
  padding: 0 5px;
}
.ri-store-3-line {
  font-size: 30px;
  padding: 0 5px;
}
.ri-layout-grid-fill {
  font-size: 30px;
  padding: 0 5px;
}
.ri-bug-2-line {
  font-size: 30px;
  padding: 0 5px;
}
.ri-rss-line {
  font-size: 30px;
  padding: 0 5px;
}
.ri-signal-wifi-fill {
  font-size: 30px;
  padding: 0 5px;
}
.ri-file-zip-line {
  font-size: 30px;
  padding: 0 5px;
}
.ri-pages-fill {
  font-size: 30px;
  padding: 0 5px;
}
.ri-heading {
  font-size: 30px;
  padding: 0 5px;
}
.ri-align-bottom {
  font-size: 30px;
  padding: 0 5px;
}
.ri-map-pin-line {
  font-size: 30px;
  p: 0 5px;
}
.wi.wi-day-sunny {
  /*! font-size: 85px; */
}
svg {
  /*! font-size: 65px; */
}